/*
* 	Software Pioniere GmbH & Co. KG
*	http://www.SoftwarePioniere.de
*	info@SoftwarePioniere.de
*/


.person img{
	border-top-left-radius: 85%;
	border-top-right-radius: 25%;
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 85%;
}

.background-strategie{
	background-image: url('../img/bg-1.jpg');
}

.background-newsletter{
	background-image: url('../img/typing-cover.jpg');
}

.wrapper h2{
	display: inline;
}

/* Social Button */
.social-colored li a i.icon-xing {
	background-color: #026466;
	/*color: #cfdc00;*/
}

.social-colored li a i.icon-github {
	background-color: #333;
}
