/*
* 	Software Pioniere GmbH & Co. KG
*	http://www.SoftwarePioniere.de
*	info@SoftwarePioniere.de
*/


.person img{
	border-radius: 5% 50% 50% 5%;
	width: 14em;
}

.background-strategie{
	background-image: url('../img/bg-1.jpg');
}

.background-newsletter{
	background-image: url('../img/typing-cover.jpg');
}

.wrapper h2{
	display: inline;
}

/* Social Button */
.social-colored li a i.icon-xing {
	background-color: #026466;
	/*color: #cfdc00;*/
}

.social-colored li a i.icon-github {
	background-color: #333;
}

.technologie div {
	height: auto;
	vertical-align: bottom;
}
.technologie img{
	padding:5px;
}